/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
}

i {
  font-size: 2.5rem;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  color: black;
}
button:hover {
  background-color: #76d275;
}
button:focus {
  outline: none;
}
button:active {
  box-shadow: 0 0 3px 0px white;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  color: white;
  min-height: 100px;
  box-shadow: 0 0 7px 0 black;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px 0;
}
@media (min-width: 800px) {
  header {
    flex-direction: row;
    padding: 0;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 15px;
  margin-bottom: 30px;
}
@media (min-width: 800px) {
  header .logo {
    margin-bottom: 0;
  }
}
header .logo img {
  width: 60px;
}
@media (min-width: 500px) {
  header .logo img {
    width: 80px;
  }
}
@media (min-width: 800px) {
  header .logo img {
    width: 100px;
  }
}
header .logo p {
  font-family: "Concert One", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  color: #6ac540;
}
@media (min-width: 500px) {
  header .logo p {
    font-size: 22px;
  }
}
@media (min-width: 800px) {
  header .logo p {
    font-size: 26px;
  }
}
header .toggleMusic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 3px solid #6ac540;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  header .toggleMusic {
    margin-bottom: 0;
  }
}
header .toggleMusic i {
  font-size: 20px;
}
@media (min-width: 500px) {
  header .toggleMusic i {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  header .toggleMusic i {
    font-size: 30px;
  }
}
header h1 {
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  header h1 {
    margin-bottom: 0;
  }
}
header .toggle__dark {
  opacity: 0.5;
}
header .toggleDarkLight {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .toggleDarkLight h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
}
@media (min-width: 500px) {
  header .toggleDarkLight h2 {
    font-size: 18px;
  }
}
@media (min-width: 800px) {
  header .toggleDarkLight h2 {
    font-size: 20px;
  }
}
header .toggle {
  width: 55px;
  height: 20px;
  position: relative;
}
@media (min-width: 500px) {
  header .toggle {
    height: 25px;
  }
}
header .toggle input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  border: none;
  outline: none;
}
header .toggle label {
  width: 55px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #F37A5D;
  transition: background 0.2s ease-in-out;
}
@media (min-width: 500px) {
  header .toggle label {
    height: 25px;
  }
}
header .toggle label:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #3F4A63;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -1px;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width: 500px) {
  header .toggle label:after {
    width: 25px;
    height: 25px;
  }
}
header .toggle input[type=checkbox]:checked + label:after {
  left: 37px;
}
header .toggle input[type=checkbox]:checked + label {
  background: #FEC483;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.conteiner {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .conteiner {
    flex-direction: row;
    justify-content: center;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-around;
  box-shadow: 0 0 7px 0 black;
  border-radius: 10px;
  background-color: grey;
}
@media screen and (min-width: 800px) {
  .board {
    width: 370px;
    height: 370px;
    padding: 10px;
  }
}
.board .box {
  width: 80px;
  height: 80px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 0 7px 0px black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}
.board .box:hover {
  background-color: #76d275;
}
@media screen and (min-width: 800px) {
  .board .box {
    width: 100px;
    height: 100px;
  }
}

.info {
  text-align: center;
  border-radius: 25px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 7px 0 black;
  background-color: grey;
  color: white;
  margin-top: 20px;
}
.info h2 {
  margin: 20px;
}
@media screen and (min-width: 800px) {
  .info {
    margin-left: 20px;
  }
}

.modalDiv {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: grey;
  transition: linear 2s all;
  align-items: center;
  justify-content: center;
}

.modalH1 {
  font-size: 28px;
  animation: bounce-in-top 1.1s both;
  text-align: center;
  color: white;
}
.modalH1 span {
  color: #6ac540;
}
@media (min-width: 650px) {
  .modalH1 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .modalH1 {
    font-size: 42px;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
body {
  background-color: #F7F7F7;
}

/*# sourceMappingURL=/js.d818e0ef.css.map */