.conteiner {
    width: 100%;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: black;

    &:hover {
        background-color: #76d275;
    }

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: 0 0 3px 0px white;
    }

}